<div class="post-container">
    <h1 class="title">All Student Project Reflections</h1>
    <hr>

    <% @reflections.each do |reflection| %>
    <ul class="post-list">
    <h4><a href="/reflections/<%= reflection.id %>"><%= reflection.student_name %>'s reflection on <%= reflection.project_name %></a></h4>
    </ul>
    <% end %>

</div>
