<div class="loginbox">
    <h1>Login Here</h1>
    <form action="/login" method="post">
        <p>Username</p>
        <input type="text" name="name" placeholder="Enter Username" required>
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="submit" name="login" value="Login">
        <br>
        <a href="/signup">New to ReflectionTime? Sign up here!</a>
        <br>
        <% unless locals.empty? %>
          <div class="alert alert-danger">
            <%= message %>
        <% end %>
    </form>
</div>
