<div class="post-container">
    <h1 class="title">Hi, <%= current_user.name %>! Here are your project reflections.</h1>
    <hr>

    <% current_user.reflections.each do |reflection| %>
      <ul class="post-list">
        <li><h4><a href="/reflections/<%=reflection.id%>">Your reflection on <%= reflection.project_title %></a></h4><br><a href="/reflections/<%=reflection.id%>/edit">Edit Reflection</a></li>
      </ul>
    <% end %>

</div>
