<div class="loginbox">
    <img src="./public/images/avatar.png" class="avatar" alt="avatar">
    <h1>Sign Up Here</h1>
    <form>
        <p>Username</p>
        <input type="text" name="username" placeholder="Create Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Create Password">
        <input type="submit" name="login" value="Submit">
    </form>
</div>
