<div class="loginbox">
    <h1>Sign Up Here</h1>
    <form action="/signup" method="post">
        <p>Username</p>
        <input type="text" name="name" placeholder="Create Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Create Password">
        <input type="submit" name="signup" value="Submit">
    </form>
</div>
