<div class="col-md-8 offset-md-2 info">
    <h1 class="text-center">ReflectionTime</h1>
    <p class="text-center">A place for you to reflect on and talk about your school projects.</p>
    <a href="/users/login" class="btn btn-md text-center">GET STARTED</a>
</div>
